@import url('https://fonts.googleapis.com/css?family=Ubuntu');


body {
  background-color: #DDDDDD;
  text-align: center;
  
}

.container {
  margin: 20px auto 20px auto;
  width: auto;
  position: relative;
  
}

.navbar {
  margin-top: 20px;
}

.navbar ul li {
  text-decoration: none;
  list-style-type: none;
  margin-right: 43px;
  font-family: 'Ubuntu', sans-serif;

}

.navbar a {
   color: black;
   transition: all 0.2s ease-in-out;
}

.navbar a:hover {
   color: gray;
   text-decoration: none;
   opacity: .7;
}

#resources li {
  padding: 3px;
}

.page-title {
  border-bottom: solid 1px black;
  padding: 10px;

}

.img-responsive {
  
  width: 160px;
  height: 140px;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
  display: block;

}



.page-title h3 {
  font-family: 'Ubuntu', sans-serif;
  padding: 10px;
  

}



footer ul {
  overflow: auto;
  margin-right: 40px;
}

footer ul li {
  list-style-type: none;
  text-align: center;
  display: inline;
}

footer i {
  background: #D4D4D4;
  color: #444444;
  width: 20px;
  height: 20px;
  border-radius: 20px;
  margin-left: auto;
  margin-right: auto;
  padding: 3px;
  transition: all 0.2s ease-in-out;
}

footer i:hover {
  opacity: .7;
}




