/* color scheme 
#D5E1F9 bone

#EA500A orange   

#3B4D79 blue

*/


@import url('https://fonts.googleapis.com/css?family=Quantico');
@import url('https://fonts.googleapis.com/css?family=Raleway');


body {
  background-image: url('img/02.jpg');
  text-align: center;
  width: 100%;
  height: auto;
}

.container {
  width: 100%;
  margin: 0 auto;
  position: relative;
  padding: 0;
}

.navbar {
  background: #B5BABA;
  border: none;
  font-family: Quantico;
  font-size: 1.4em;
  letter-spacing: 1px;
}

#navbarCollapse li a {
  color: #434343;
}

#navbarCollapse li a:hover {
  background: #E8164C;
  transition: all 0.4s ease-in-out;
}

.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}

.navbar-default .navbar-toggle {
  margin-right: 30px;
  border-color: #969696;
}

.navbar .navbar-collapse {
  text-align: center;
}

.nav li a {
  padding-left: 20px;
  padding-right: 20px;
}

.img-responsive {
  width: 160px;
  height: 140px;
  margin-top: 70px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  transition: all 0.2s ease-in-out;
}

.img-responsive:hover {
  opacity: .7;
}


.page-title h1 {
  font-family: 'Quantico', sans-serif;
  font-weight: bold;
  font-size: 5.5em;
  color: #434343;
  margin: 10 auto 10 auto;
}

.dot {
  color: #E8164C;
}

.intro {
  background: #B5BABA;
  font-family: Raleway, sans-serif;
  font-size: 1.4em;
  margin-top: 20px;
  
}

h2 {
  font-family: Quantico, sans-serif;
}

.intro p {
  margin: 30px;
}

.projects {
  font-family: Raleway, sans-serif;
  font-size: 1.4em;
  margin: 20px auto 20px auto;
}

.projects h2 {
  margin: 0;
}

#portfolio .portfolio-item {
  margin: 0 0 15px;
  right: 0;
}

#portfolio .portfolio-item .portfolio-link {
  display: block;
  position: relative;
  max-width: 400px;
  margin: 0 auto;
}

#portfolio .portfolio-item .portfolio-link .caption {
  background: #E8164C;
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: all ease 0.5s;
  -webkit-transition: all ease 0.5s;
  -moz-transition: all ease 0.5s;
}

#portfolio .portfolio-item .portfolio-link .caption:hover {
  opacity: 1;
}

#portfolio .portfolio-item .portfolio-link .caption .caption-content {
  position: absolute;
  width: 100%;
  height: 20px;
  font-size: 20px;
  text-align: center;
  top: 50%;
  margin-top: -12px;
  color: white;
}

#portfolio .portfolio-item .portfolio-link .caption .caption-content i {
  margin-top: -12px;
}

#portfolio .portfolio-item .portfolio-link .caption .caption-content h3,
#portfolio .portfolio-item .portfolio-link .caption .caption-content h4 {
  margin: 0;
}

#portfolio * {
  z-index: 2;
}

#contact {
  background: #B5BABA;
}

#contact h2 {
  margin: 20px auto 20px auto;
}

#contact p {
  font-family: Raleway, sans-serif;
  font-size: 1.4em;
  margin: 30px;
}

footer ul {
  padding: 0;
}

footer ul li {
  list-style-type: none;
  text-align: center;
  display: inline;
}

footer i {
  font-size: 20px !important;
  background: #D4D4D4;
  color: #444444;
  width: 30px;
  height: 30px;
  margin: 20px auto 20px auto;
  padding: 3px;
  transition: all 0.2s ease-in-out;
}

footer i:hover {
  color: #E8164C;
  background: #F1F1F1;
}

.copy {
  margin: 20px auto 20px auto;
}

.scroll-top a {
  background: none;
  margin: 0;
  padding: 10px;
  position: fixed;
  bottom: 0;
  right: 0;
  width: 70px;
  height: 70px;
  z-index: 100;
  text-decoration: none;
  color: #E8164C;
}

.scroll-top a i {
  font-size: 48px;
}

.portfolio-modal .modal-content {
  border-radius: 0;
  background-clip: border-box;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: none;
  min-height: 100%;
  padding: 100px 0;
  text-align: center;
}

.portfolio-modal .modal-content h2 {
  margin: 0;
  font-size: 3em;
}

.portfolio-modal .modal-content img {
  margin-bottom: 30px;
}

.portfolio-modal .modal-content .item-details {
  margin: 30px 0;
}

.portfolio-modal .close-modal {
  position: absolute;
  width: 75px;
  height: 75px;
  background-color: transparent;
  top: 25px;
  right: 25px;
  cursor: pointer;
}

.portfolio-modal .close-modal:hover {
  opacity: 0.3;
}

.portfolio-modal .close-modal .lr {
  height: 75px;
  width: 1px;
  margin-left: 35px;
  background-color: #2C3E50;
  transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  /* IE 9 */
  -webkit-transform: rotate(45deg);
  /* Safari and Chrome */
  z-index: 1051;
}

.portfolio-modal .close-modal .lr .rl {
  height: 75px;
  width: 1px;
  background-color: #2C3E50;
  transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  /* IE 9 */
  -webkit-transform: rotate(90deg);
  /* Safari and Chrome */
  z-index: 1052;
}

.portfolio-modal .modal-backdrop {
  opacity: 0;
  display: none;
}

@media (max-width: 515px) {
  .page-title h1 {
    font-size: 4.2em;
  }
}